<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >

<head>
<meta charset="UTF-8" />
<title>TP3 Grupo 03</title>

<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/6.1.0/css/all.css}" />
</head>

<body>
	<div class="container">
<div class="alert-danger text-center" th:if="${formUsuarioErrorMessage}" th:text="${formUsuarioErrorMessage}">Name Error</div>
		<section>
			<div class="table-responsive">
				<table class="table table-sm table-dark table-hover">
					<caption class="table-caption">List of Courses</caption>
					<thead>
						<tr class="text-center">
							<th scope="col">id</th>
							<th scope="col">nombre</th>
							<th scope="col">imagen</th>
							<th scope="col">Edicion</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
					
						<tr th:each="c:${listaCursos}" class="text-center">
							<td th:text="${c.idCurso}"></td>
							<td th:text="${c.nombre}"></td>
							<td><img th:src="${'data:image/png;base64,'+c.imagen}" alt="" /></td>
							<td><a class="btn btn-warning" href="#"
								>Editar</a> 
								<a class="link-eliminar" href="#">
								<i class="btn btn-secondary fa fa-trash-alt"></i></a>
							 							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
	

	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/5.0.0/js/bootstrap.min.js"></script>
	 
	 
    <script th:src="@{js/getUsers.js}" src="js/getUsers.js"></script>
</body>
</html>